th {
    background-color: darkblue;
    color: white;
    border: solid black 1px;
    text-align: center;
}

td {
    background-color: blue;
    color: white;
    border: solid black 1px;
    text-align: center;
}