<div class="container pt-1">
    <div class="container text-bg-primary d-flex justify-content-center border border-dark rounded p-2 w-25">
        <div class="row gy-5">
            <div class="col">
                <form>
                    <label class="p-1" for="nome">Nome: </label>
                    <input type="text" name="nome" id="nome" #nome>
                    <div>
                        <label class="p-1" for="telefone">Telefone: </label>
                        <input type="tel" name="telefone" id="telefone" #telefone>
                    </div>
                    <div>
                        <label class="p-1" for="email">E-mail: </label>
                        <input type="email" name="email" id="email" #email>
                    </div>
                    <div>
                        <label class="p-1" for="aniversario">Aniversário: </label>
                        <input type="date" name="aniversario" id="aniversario" #aniversario>
                    </div>
                    <div>
                        <label class="p-1" for="relacao">Relação: </label>
                        <select name="relacao" id="relacao" #relacao>
                            <option *ngFor="let rl of relacoes" [value]="rl">{{rl}}</option>
                        </select>
                    </div>
                    <input type="button" value="Cadastrar"
                        (click)="adicionar(nome.value, telefone.value, email.value, aniversario.value, relacao.value)">
                </form>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center pt-2">
        <div class="row">
            <div class="col">
                <table class="table table-primary table-bordered border-secondary text-light" *ngIf="contatos.length > 0">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Aniversário</th>
                            <th scope="col">Relação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cc of contatos">
                            <td>{{cc.nome}}</td>
                            <td>{{cc.telefone}}</td>
                            <td>{{cc.email}}</td>
                            <td>{{cc.aniversario | date:'dd/MM/yyyy'}}</td>
                            <td>{{cc.relacao}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>