<div class="container pt-1">
    <div class="container text-bg-info d-flex justify-content-center border border-dark rounded p-2 w-25">
        <div class="row gy-5">
            <div class="col">
                <form [formGroup]="formCadastro">
                    <label class="p-1" for="nome">Nome: </label>
                    <input type="text" name="nome" id="nome" formControlName="nome">
                    <div>
                        <label class="p-1" for="telefone">Telefone: </label>
                        <input type="tel" name="telefone" id="telefone" formControlName="tel">
                    </div>
                    <div>
                        <label class="p-1" for="email">E-mail: </label>
                        <input type="email" name="email" id="email" formControlName="email">
                    </div>
                    <div>
                        <label class="p-1" for="aniversario">Aniversário: </label>
                        <input type="date" name="aniversario" id="aniversario" formControlName="ani">
                    </div>
                    <div>
                        <label class="p-1" for="relacao">Relação: </label>
                        <select name="relacao" id="relacao" formControlName="rel">
                            <option *ngFor="let rl of relacoes" [value]="rl">{{rl}}</option>
                        </select>
                    </div>
                    <label for="favorito">Contato favorito?</label>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" formControlName="fav">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Sim.
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Não.
                                </label>
                            </div>
                        </div>
                    </div>
                    <input class="btn" id="botao" type="button" value="Cadastrar"
                            (click)="adicionar()" [disabled]="formCadastro.invalid">
                    <input class="btn" id="botao2" type="reset" value="Cancelar">
                </form>
            </div>
        </div>
    </div>
</div>